.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;
    width: 300px;
    background-color: #2b5af3;
    padding: 1.2rem;
    border-radius: 20px;
}