.controls{
    display: flex;
    justify-content: center;
    gap: .2em;

}

.btn {
    background-color: #023469;
    border: none;
    color:#fff;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100px;
}

.btn:hover {
    background-color: #3f8cdf;

}

.clear {

    
}